@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  min-width: 375px;
  background: hsl(212, 45%, 89%);
}

img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 15px;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25em;
  margin-bottom: 15px;
  padding: 0 10px;
}

p {
  font-size: 14px;
  font-weight: 400;
  padding: 0 13px;
  opacity: .6;
}

.flex-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-code-container {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  background-color: hsl(0, 0%, 100%);
  min-height: 450px;
  width: 300px;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 15px;
}